<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What We Do</h2>
        <p class="lead">Drone Diego strives to capture aerial footage that highlight our diverse city. Producing a unique perspective on the beauty and culture of Southern California life is our passion. We offer competitive pricing on drone services that give our clients access to stunning visuals. </p>
       <h2>Who We Are</h2>
        <p class="lead">San Diego based Aerial Cinematography specialists. We love shooting action sports, nature, events, and real estate.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>