<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script> 
<script type="text/javascript" src="js/instafeed.js"></script>

{% assign instafeed_template = '<div class="col-md-12"><div class="portfolio-item"><a href="{{link}}"><img class="img-portfolio img-responsive" src="{{image}}"></a><div class="col-md-8 col-md-offset-2"><strong>{{likes}} ♥  | </strong>{{caption}}</div></div></div>' %}
      <script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: 'self',
        clientId: 'feeade12be304417a4126071d1381418',
        access_token: '2461351595.feeade1.1f09921f47c34d9eb46376a50208d29f', //Sandbox limited API key, risk and extent of abuse is minimal
        resolution: 'standard_resolution',
        limit: 4,
        template: '{{ instafeed_template }}'
    });
    feed.run();
</script>



