<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script> 
<script type="text/javascript" src="js/instafeed.js"></script>
<script src="js/detectmobilebrowser.js"></script> 

<script type="text/javascript">
var sources = document.querySelectorAll('video#background source');
// Define the video object this source is contained inside
var video = document.querySelector('video#background');
for(var i = 0; i<sources.length;i++) {
  sources[i].setAttribute('src', sources[i].getAttribute('data-src'));
}
// If for some reason we do want to load the video after, for desktop as opposed to mobile (I'd imagine), use videojs API to load
//video.load(); 
    </script>

{% assign instafeed_template = '<div class="col-md-6"><div class="portfolio-item"><a href="{{link}}"><img class="img-portfolio img-responsive" src="{{image}}"></a><strong>{{likes}} ♥  | </strong><small>{{caption}}</small></div></div>' %}
      <script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: 'self',
        clientId: 'feeade12be304417a4126071d1381418',
        access_token: '2461351595.feeade1.1f09921f47c34d9eb46376a50208d29f', //Sandbox limited API key, risk and extent of abuse is minimal
        resolution: 'standard_resolution',
        limit: 4,
        template: '{{ instafeed_template }}'
    });
    feed.run();
</script>



